/*
si uso SK:
carpeta scss dentro de src -> aquí está el main.scss y la carpeta de partials
en main ponemos los enlaces a los partials
Partials que me interesan:
- reset inicial  _reset.scss
- colores (variables)
- @media queries

después añado mis estilos en el main 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    --verde:#6C933E ;
    --verde-claro:#D9E4CC;
    --gris: #636363;
    --gris-oscuro: #4A4A4A;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}
main{
    width: 100%;
}
header{
    padding:0;
    margin: 0;
    width: 7dvh;
    position: fixed;
    top:0;
    left:0;
}
.header img{
    width:100%;
    padding: 2dvh;
    margin:0;
    background-color: var(--verde);
}
.page-1{
    background-image: url("./images/hero-cover.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% center;
    height: 100dvh;
}
.main-page-1{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}
.text-page-1{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:center;
    padding: 1rem 0;
    color: white;
    text-align: center;
    justify-content: flex-end;
    font-size: 3dvh;
    gap: 1.2rem;
    width: 80%;
    height: 80dvh; 
}
.text-page-1-h1{
    font-size: 3rem;
    font-weight: 600;
}
.text-page-1-h2{
    font-size: 1.5rem;
    font-weight: 300;
}
.arrow{
    background-color: white;
    margin: 0;
    width: 7dvh;
    height: 7dvh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow img{
    margin:0;
    padding:0;
    filter: invert(37%) sepia(75%) saturate(500%) hue-rotate(80deg);
    /*Este verde no es*/
}

/*
PAGE-2
*/
.page-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: white;
}
.page-2-h3{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--verde);
    margin: 1dvh 0;
}
.page-2-h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 1dvh 0;
}
.page-2-p{
    margin-bottom: 7dvh;
}
.btn{
    color: var(--verde);
    background-color: white;
    border-style: solid;
    border-color: var(--verde);
    padding: 2dvh;
    border-width: 3px;
    font-size: 1.5rem;
    border-radius: 4.5dvh;
    width: 60%;
    max-width:280px;
}
.btn-text{
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
}
.btn a{
    text-decoration: none;
    color: var(--verde);
}

/*
PAGE-3
*/
.page-3{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: var(--verde-claro);
}
.page-3-text{
    width: 70%;
}
.page-3-p{
    color: var(--gris);
    font-size: 1rem;
    font-weight: 700;
}
.page-3-h1{
    font-size: 2rem;
    font-weight: 700;
}
.page-3 > div{
    display:grid;
    place-items:center;
    text-align: center;
    margin-top: 4dvh;
}
.product img{
    border-radius: 50%;
    width:70%;
}
.product-name{
    font-size: 1.5rem;
    font-weight: 700;
}
.page-3 .btn{
    background-color: var(--verde);
    color: white;
    margin-top: 2dvh;
}
.page-3 .btn a{
    color: white;
}
.page-3 .arrow img{
    margin-top: 1dvh
}
/* FOOTER */
footer{
    background-color: var(--gris-oscuro);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 2dvh;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    padding: 2dvh;
    color: white;
    text-decoration: none;
}
.footer-logos{
    font-size: 1rem;
    font-weight: 300;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
}

/* MEDIA QUERIES*/

@media (min-width: 768px) {
    .page-2{
        padding: 7dvh
    }
    .page-2-p{
        margin-bottom: 4dvh;
    }
    .btn{
        width: 40%;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 4dvh;
    }
     .page-3-products{
        grid-template-columns: repeat(3, 1fr);
        gap: 3dvh;
    }
    .footer-logos{
       order:1;
    }
    .footer-products{
        order:2;
    }
    .footer-socials{
        order:3;
    }
}

@media (min-width: 1024px) {
     .page-2{
        padding: 7dvh
    }
    .page-2-p{
        margin-bottom: 4dvh;
    }
    .btn{
        width: 25%;
    }
   
}
    
/*PSEUDO-SELECTORS*/

.copyright::before {
  content: "\00A9"; /* Símbolo de copyright */
  margin-right: 1dvh;
}
.btn:hover{
    background-color: var(--verde);
    color: white;
}
.arrow:hover{
    background-color: var(--verde);
}
.arrow:hover img {
  filter: invert(100%); /*debería ser blanco, pero se ve azul*/
}

/*
Pendientes:
- starter kit
- flecha footer en medio de los dos colores
- flechas de color verde y blanco en :hover
- animaciones
*/