/*
si uso SK:
carpeta scss dentro de src -> aqu칤 est치 el main.scss y la carpeta de partials
en main ponemos los enlaces a los partials
Partials que me interesan:
- reset inicial
- colores (variables)
- @media queries

despu칠s a침ado mis estilos en el main 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    _reset.scss
    */
}
:root{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    --verde:#6C933E ;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}
main{
    background-color: aquamarine;
    width: 100%;
}
/*
div, section, footer, main {
  border: 1px solid red;
}*/
header{
    padding:0;
    margin: 0;
    width: 7dvh;
    position: fixed;
}

.header img{
    width:100%;
    padding: 2dvh;
    margin:0;
    background-color: var(--verde);
}

.page-1{
    background-image: url("./images/hero-cover.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% center;
    height: 100dvh;
    /*vh puede fallar*/

}
.main-page-1{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}
.text-page-1{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:center;
    padding: 1rem 0;
    color: white;
    text-align: center;
    justify-content: flex-end;
    font-size: 3dvh;
    gap: 1.2rem;
    width: 80%;
    height: 80dvh;
    
}
.text-page-1 h1{
    font-size: 6dvh;
    font-weight: 600;
}
.text-page-1 h2{
    font-size: 3dvh;
    font-weight: 300;
}
.arow-page-1{
    background-color: white;
    padding:3dvh;
    margin: 0;
    width: 7dvh;
    height: 7dvh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-page-1 img{
    width: 100%;
    margin:0;
    padding:0;
    /*COLOR VERDE????*/
}

/*
    PAGE-2
    */
.page-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-size: 3dvh;
    background-color: white;
}
.page-2 h3{
    font-size: 2.5dvh;
    font-weight: 400;
    color: var(--verde);
    margin: 1dvh 0;
}
.page-2 h2{
    font-size: 4dvh;
    font-weight: 600;
    margin: 1dvh 0;
}
.page-2-p{
    margin-bottom: 7dvh;
}
button{
    color: var(--verde);
    background-color: white;
    border-style: solid;
    border-color: var(--verde);
    padding: 2dvh;
    border-width: 3px;
    font-size: 3dvh;
    border-radius: 4.5dvh;
    width: 60%;
    /*tama침o bot칩n: 
    164.824x23.187
    tama침o contenedor: 327x244pixeles
    */
}
.btn{
    margin-bottom: 0;
    font-weight: 500;
}

/* MEDIA QUERIES*/
   /* TABLET */
@media (min-width: 768px) {
    .page-2{
        padding: 7dvh
    }
    .page-2-p{
        margin-bottom: 4dvh;
    }
    button{
        width: 40%;
    }
}


/* 游눹 DESKTOP */
@media (min-width: 1024px) {
     .page-2{
        padding: 7dvh
    }
    .page-2-p{
        margin-bottom: 4dvh;
    }
    button{
        width: 25%;
    }
}
    