/*
si uso SK:
carpeta scss dentro de src -> aquí está el main.scss y la carpeta de partials
en main ponemos los enlaces a los partials
Partials que me interesan:
- reset inicial  _reset.scss
- colores (variables)
- @media queries

después añado mis estilos en el main 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    --verde:#6C933E ;
    --verde-claro:#D9E4CC;
    --gris: #626262;
    --gris-oscuro: #4A4A4A;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}
main{
    width: 100%;
}
header{
    padding:0;
    margin: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    top:0;
    left:0;
}
.header img{
    width:100%;
    padding: 2dvh;
    margin:0;
    background-color: var(--verde);
}
.page-1{
    background-image: url("./images/hero-cover.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% center;
    height: 100dvh;
}
.main-page-1{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}
.text-page-1{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:center;
    padding: 1rem 0;
    color: white;
    text-align: center;
    justify-content: flex-end;
    font-size: 1.875rem;
    gap: 1.2rem;
    width: 80%;
    height: 80dvh; 
}
.text-page-1-h1{
    font-family: "Roboto slab", serif;
    font-weight: 700;
}
.text-page-1-h2{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.arrow{
    background-color: white;
    margin: 0;
    width: 7dvh;
    height: 7dvh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow img{
    margin:0;
    padding:0;
    filter: invert(37%) sepia(75%) saturate(500%) hue-rotate(80deg);
    /*Este verde no es*/
}

/*
PAGE-2
*/
.page-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    background-color: white;
}
.page-2-h2{
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--verde);
    margin: 1dvh 0;
}
.page-2-h3{
    font-family: "Roboto slab", serif;
    font-size: 1.375rem;
    font-weight: 700;
    margin: 1dvh 0;
}
.page-2-p{
    font-family: "Roboto", sans-serif;
    color: var(--gris);
    margin-bottom: 4dvh;
    font-size: 1.125rem;
    font-weight: 400;
}
.btn{
    color: var(--verde);
    background-color: white;
    border-style: solid;
    border-color: var(--verde);
    padding: 0.5rem;
    border-width: 3px;
    border-radius: 4.5dvh;
    width: 60%;
    max-width:280px;
}
.btn-text{
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
}
.btn a{
    text-decoration: none;
    color: var(--verde);
}

/*
PAGE-3
*/
.page-3{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: var(--verde-claro);
}
.page-3-text{
    width: 70%;
}
.page-3-p1{
    font-family: "Roboto", sans-serif;
    color: var(--gris);
    font-size: 0.75rem;
    font-weight: 700;
    font-weight: bold;
}
.page-3-p2{
    font-family: "Roboto slab", serif;
    font-size: 1.25rem;
    font-weight: 700;
}
.page-3 > div{
    display:grid;
    place-items:center;
    text-align: center;
    margin-top: 2.5dvh;
}
.product img{
    border-radius: 50%;
    width:70%;
}
.product-name{
    font-family: "Roboto slab", serif;
    font-size: 0.875rem;
    font-weight: 700;
}
.page-3 .btn{
    background-color: var(--verde);
    color: white;
    margin-top: 2dvh;
}
.page-3 .btn a{
    color: white;
}
.page-3 .arrow img{
    margin-top: 1dvh
}
/* FOOTER */
footer{
    background-color: var(--gris-oscuro);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1.5dvh;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    padding: 2dvh;
    color: white;
    text-decoration: none;
}
.footer-logos{
    font-size: 1rem;
    font-weight: 300;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

/* MEDIA QUERIES*/

@media (min-width: 768px) {
    :root{
        font-size: 24px;
    }
    .text-page-1-h1{
        font-size: 3.125rem;
    }
    .page-2.h2{
        font-size: 0.667rem;
    }
    
    .page-2-p{
        margin-bottom: 3.5dvh;
        font-size: 0.8334rem;
    }
    .btn{
        font-size: 0.8334rem;
        margin-bottom:1rem;
    }
    .page-3-p1{
        font-size: 0.5rem;
    }
    .page-3-p2{
        font-size: 1.167rem;
    }
      .page-3 > div{
        margin-top:2dvh;
    }
     .page-3-products{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .product-name{
        font-size: 0.75rem;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    footer div{
        align-items: flex-start;
    }
    footer a{
        font-size: 0.667rem;
    }
        .footer-logos{
        order:1;
        }
        .footer-products{
            order:2;
        }
        .footer-socials{
            order:3;
        }
}

    */
/*PSEUDO-SELECTORS*/

.copyright::before {
  content: "\00A9"; /* Símbolo de copyright */
  margin-right: 1dvh;
}
.btn:hover{
    background-color: var(--verde);
    color: white;
}
.arrow:hover{
    background-color: var(--verde);
}
.arrow:hover img {
  filter: invert(100%); /*debería ser blanco, pero se ve azul*/
}

/*
Pendientes:
- starter kit
- flecha footer en medio de los dos colores
- flechas de color verde y blanco en :hover
- animaciones
*/