
.page-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    background-color: white;
}
.page-2-h2{
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--green);
    margin: 1dvh 0;
}
.page-2-h3{
    font-family: "Roboto slab", serif;
    font-size: 1.375rem;
    font-weight: 700;
    margin: 1dvh 0;
}
.page-2-p{
    font-family: "Roboto", sans-serif;
    color: var(--grey);
    margin-bottom: 4dvh;
    font-size: 1.125rem;
    font-weight: 400;
}
.btn{
    color: var(--green);
    background-color: white;
    border-style: solid;
    border-color: var(--green);
    padding: 0.5rem;
    border-width: 3px;
    border-radius: 3rem;
    width: 60%;
    max-width:280px;
}
.btn-text{
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
}
.btn a{
    text-decoration: none;
    color: var(--green);
    padding:1rem;
}
