<footer>
        <div class="footer-products">
            <a href="https://adalab.es">ZAPATILLAS</a>
            <a href="https://adalab.es">ROPA</a>
            <a href="https://adalab.es">NIÑO/A</a>
            <a href="https://adalab.es">DESTACADOS</a>
            <a href="https://adalab.es">TIPS</a>
        </div>
        <div class="footer-socials">
            <a href="https://adalab.es">INSTAGRAM</a>
            <a href="https://adalab.es">YOUTUBE</a>
            <a href="https://adalab.es">BLUESKY</a>
        </div>
        <div class="footer-logos">
            <p class="copyright">2026</p>
            <p class="logo">we &#128154; run</p>
        </div>
    </footer>