<section id="page-3" class="page-3">
            <div class="page-3-text">
                <p class="page-3-p1">¡Prepáralos con tus marcas favoritas!</p>
                <p class="page-3-p2">VUELTA AL COLE</p>
            </div>
            <div class="page-3-products">
                <div class="product">
                    <img src="images/image01.webp" alt="girl holding a backpack on her right shoulder">
                    <p class="product-name">Mochilas escolares</p>
                </div>
                <div class="product">
                    <img src="/images/image03.webp" alt="boy playing with markers and a pencil case">
                    <p class="product-name">Estuches</p>
                </div>
                <div class="product">
                    <img src="/images/image02.webp" alt="girl holding a backpack on her left shoulder">
                    <p class="product-name">Bolsas de deporte</p>
                </div>
            </div>
            <button class="btn"><a href="https://adalab.es"><span class="btn-text">Empezar ahora</span></a></button>
            <div class="arrow">
                <a href="#page-1"><img src="images/ico-arrow.svg" alt="scroll up arrow icon"></a>
            </div>
        </section>