<section id="page-2" class="page-2">
            <h2 class="page-2-h2">HISTORIAS, MODA Y ROPA DEPORTIVA</h2>
            <h3 class="page-2-h3">TU TIENDA DE DEPORTE</h3>
            <p class="page-2-p">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
            <button class="btn"><a href="https://adalab.es"><span class="btn-text">Comprar</span></a></button>
        </section>